<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cot failure</title>
    </head>
    <body>
        <h1>Cot failure</h1>
        <p>An error occurred when trying to build Cot error page.</p>
        <p>
            If you are a user, please report this to the website administrator. If you are the website administrator, this is
            likely a Cot bug. Please report it on the <a href="https://github.com/cot-rs/cot/">Cot bug
            tracker</a>.
        </p>
    </body>
</html>
