*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Open Sans", sans-serif;
    vertical-align: baseline;
}

body {
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

em {
    font-style: italic;
}

body {
    background-color: #e8edf1;
    padding: 1rem;
}

h1 {
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: lighter;

    background-color: rgb(255, 63, 79);
    color: white;
}

h2 {
    font-size: 1.5rem;
    margin-top: .75rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: .5rem;
}

table, th, td {
    border: 1px solid #d9dde1;
    border-collapse: collapse;
}

table > thead {
    vertical-align: bottom;
}

table th {
    font-weight: bold;
}

th, td {
    padding: .5rem;
    border-bottom-color: #d9dde1;
    border-bottom-width: 1px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;

    font-size: .75rem;
    font-family: "Noto Sans Mono", monospace;
}

.badge {
    color: #fff;
    background-color: #1876ff;

    display: inline-block;
    font-size: 0.7em;
    padding: 0.25em 0.5em;
    border-radius: 1em;
    line-height: 1;

    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
