<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flareon failure</title>
</head>
<body>
<h1>Flareon failure</h1>
<p>An error occurred when trying to build Flareon error page.</p>
<p>
    If you are a user, please report this to the website administrator. If you are a website administrator, this is
    likely a Flareon bug. Please report it on the <a href="https://github.com/flareon-rs/flareon/">Flareon bug
    tracker</a>.
</p>
</body>
</html>
